# Rust
/target
**/target

# Node
node_modules
apps/web/node_modules
apps/api/node_modules
apps/verifier/node_modules
crates/zk-node/node_modules
apps/web/dist
apps/api/dist
apps/verifier/dist

# Env
.env
.env.*

# OS
.DS_Store

# Archives
*.tar.gz

.yarn
